/* @tailwind base;
@tailwind components;
@tailwind utilities;
 */

/* body { */
  /* @apply bg-[#ceeff4]; */
  /* @apply bg-[url('https://johan22.sirv.com/Designer%20(3_1).jpeg')] bg-no-repeat bg-cover; */
  /* font-family: Arial, sans-serif; */
/* } */

/* body{
  background-color: #ceeff4;
  font-family: Arial, sans-serif;
}
h1 {
  color: #487379;
  font-size: 24px;
} 
@media (max-width: 600px) and (min-width: 250px) {
  body{
    width: auto;
  }
  .image-h1{
    display: block;
    margin: 0 auto;
    align-items: center;
    justify-content: center;

  }
  .hello{
    display: block;
    margin: 0 auto;
    float: left;
  }
  .img{
    float: right;
    display: block;
    margin: 0 auto;
  }
  .h1-header{
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 2%;
  }
  .header{
    font-size: larger;
  }
   p {
    color: #59888f;
    font-family: sans-serif;
    font-style: normal;
    font-size: medium;
  }
  img{
    width: 150px;
  }
   
  .login-body{
    border-radius: 10px;
    width: 80%;
    
    margin: 0 auto;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0px 0px 10px #ccc;
  }
  .login-label{
    font-family: sans-serif;
    font-style: normal;
    font-size: x-large;
  
  }
  
  #email-label, #password-label{
    display: block;   
    color: #59888f;
    text-align: center;
    margin-bottom: 3%;
  }
  .login-input{
    display: block;
    margin: 0 auto;
    justify-content: center;
  }

  #password, 
  #email{
    border-style: solid;
    border-color: #53f0f3;
    box-sizing: border-box;
    padding: 5px;
    border: 1px ridge #53f0f3;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    text-align: center;
  }
  input[type="password"]:hover,
  input[type="email"]:hover{
    background-color: #f2f2f2;
  }
  input[type="password"]:focus,
  input[type="email"]:focus{
    background-color: #f2f2f2;
    outline: none;
  }
  input[type="password"]:focus-visible,
  input[type="email"]:focus-visible{
    background-color: #aaeffa;
    outline: none;
  }
  .login-button{
    display: inline-block;
    width: auto;
    margin-bottom:3%;
  }
  input[type="submit"]{
    background-image: linear-gradient(to right, #6cd4e4 0%, #c2e9fb 51%, #51cfe2 100%);                width: 12%;
    flex: 1 1 auto;
    margin: 10px;
    padding: 12px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    cursor: pointer;
    width: 80px;
  }
  input[type="submit"]:hover {
    background-position: right center;
  }
  .login-body p{
    display: inline;
    margin: 0px;
  }
  
  
  #error_show {
    display: none;
    color: red;
    text-align: center;
    margin-bottom: 10px;
    transition: opacity 0.3s ease-in-out;
  } 

}

@media (max-width: 480px), handheld {
}

@media screen and (min-width: 900px){
  
.h1-header{
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 2%;
}
.header{
  font-size: larger;
}
p {
  color: #59888f;
  font-family: sans-serif;
  font-style: normal;
  font-size: medium;
}
.img{
  float: inline-end;
  display: block;
}
img{
  width: 300px;
}

.login-body{
  border-radius: 10px;
  width: 900px ;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px #ccc;
}
.login-label{
  float: left;
  font-family: sans-serif;
  font-style: normal;
  font-size: large;
}

#login-label{
  display: block;   
  color: #59888f;
}
.login-input{
  float: inline-end;
  margin-right: 10%;
}
#password, 
#email{
  border-style: solid;
  border-color: #53f0f3;
  border-radius: 10px;
  box-sizing: border-box;
  width: 280px;
  margin-bottom: 5px;
  padding: 8px;
  border: 1px ridge #53f0f3;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  text-align: center;
}
input[type="password"]:hover,
input[type="email"]:hover{
  background-color: #f2f2f2;
}
input[type="password"]:focus,
input[type="email"]:focus{
  background-color: #f2f2f2;
  outline: none;
}
input[type="password"]:focus-visible,
input[type="email"]:focus-visible{
  background-color: #aaeffa;
  outline: none;
}
.login-button{
  display: inline-block;
  width: auto;
  margin-bottom:3%;
}
input[type="submit"]{
  background-image: linear-gradient(to right, #6cd4e4 0%, #c2e9fb 51%, #51cfe2 100%);                width: 12%;
  flex: 1 1 auto;
  margin: 10px;
  padding: 12px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  cursor: pointer;
  width: 100px;
}
input[type="submit"]:hover {
  background-position: right center;}
.login-body p{
  display: inline;
  margin: 0px;
}


#error_show {
  display: none;
  color: red;
  text-align: center;
  margin-bottom: 10px;
  transition: opacity 0.3s ease-in-out;
}
}

/* 
.h1-header{
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 2%;
}
.header{
  font-size: larger;
}
p {
  color: #59888f;
  font-family: sans-serif;
  font-style: normal;
  font-size: medium;
}
.img{
  float: inline-end;
  display: block;
}
img{
  width: 300px;
}

.login-body{
  border-radius: 10px;
  width: 900px ;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px #ccc;
}
.login-label{
  float: left;
  font-family: sans-serif;
  font-style: normal;
  font-size: large;
}

.login-label label{
  display: block;   
  color: #59888f;
  margin-bottom: 30%;
}
.login-input{
  float: inline-end;
  margin-right: 10%;
}
.login-input input,select{
  border-style: solid;
  border-color: #53f0f3;
  border-radius: 10px;
  box-sizing: border-box;
  width: 280px;
  margin-bottom: 5px;
  padding: 8px;
  border: 1px ridge #53f0f3;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  text-align: center;
}
input[type="password"]:hover,
input[type="email"]:hover{
  background-color: #f2f2f2;
}
input[type="password"]:focus,
input[type="email"]:focus{
  background-color: #f2f2f2;
  outline: none;
}
input[type="password"]:focus-visible,
input[type="email"]:focus-visible{
  background-color: #aaeffa;
  outline: none;
}
.login-button{
  display: inline-block;
  width: auto;
  margin-bottom:3%;
}
input[type="submit"]{
  background-image: linear-gradient(to right, #6cd4e4 0%, #c2e9fb 51%, #51cfe2 100%);                width: 12%;
  flex: 1 1 auto;
  margin: 10px;
  padding: 12px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  cursor: pointer;
  width: 100px;
}
input[type="submit"]:hover {
  background-position: right center;}
.login-body p{
  display: inline;
  margin: 0px;
}


#error_show {
  display: none;
  color: red;
  text-align: center;
  margin-bottom: 10px;
  transition: opacity 0.3s ease-in-out;
} */