body {
  background-color: #ceeff4;
  font-family: Arial, sans-serif;
}
nav {
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: 0.3s;
}
nav ul li a:hover {
  background-color: #7bbec8;
}
.news {
  display: block;
  border-radius: 10px;
  width: 700px;
  margin: 0 auto;
  min-height: 200px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px #ccc;
  height: auto;
}

label {
  float: left;
  font-family: sans-serif;
  font-style: normal;
  font-size: large;
  display: block;
  color: #59888f;
  /* margin: 10%; */
  /* margin-bottom: 10%; */
  margin-right: 2%;
}

/* .inputs {
  float: inline-end;
  margin-left: 50px; 
} */
textarea {
  width: 520px; /* Set an initial width */
  height: 100px; /* Set an initial height */
  resize: none; /* Disable manual resizing */
  overflow: hidden; /* Hide overflow content */
  min-width: 200px;
  min-height: 100px;

  border-style: solid;
  border-color: #53f0f3;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px ridge #53f0f3;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  text-align: center;
}

/* Make the textarea adjust its height automatically based on content */
textarea.auto-resize {
  height: auto;
}
input,
select {
  border-style: solid;
  border-color: #53f0f3;
  border-radius: 10px;
  box-sizing: border-box;
  width: 280px;
  margin-right: 70px;
  padding: 8px;
  border: 1px ridge #53f0f3;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  text-align: center;
  float: right;
}
select,textarea:hover {
  background-color: #f2f2f2;
}
select,textarea:focus {
  background-color: #f2f2f2;
  outline: none;
}
select,textarea:focus-visible {
  background-color: #aaeffa;
  outline: none;
}

input[type="submit"] {
  background-image: linear-gradient(
    to right,
    #6cd4e4 0%,
    #c2e9fb 51%,
    #51cfe2 100%
  );
  flex: 1 1 auto;
  margin: 10px;
  padding: 12px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  cursor: pointer;
  width: 100px;
  margin-inline: 45%;
}
input[type="submit"]:hover {
  background-position: right center; /* change the direction of the change here */
}
